@import "../../styles/_variables.scss";
@import "../../styles/_mixins.scss";

.MainSection {
  @include box-model(0, 50px, auto, 100vh);
  @include flex-element(row, flex-start, stretch, nowrap, 15px);

  color: $primary-color;
  background: $fourth-color;

  .Card {
    @include box-model(0, 0, 40%);
    @include flex-element(column, center, center);

    .text {
      @include box-model(0, 20px);

      font-size: 1.5rem;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .Lists {
    @include box-model(0, 0, 60%);
    @include flex-element(column, flex-start, center, nowrap, 30px);
  }

  .topRated,
  .upcoming {
    @include flex-element();
  }
}
