@import "../../styles/_variables.scss";
@import "../../styles/_mixins.scss";

.ModalLogin {
  @include box-model(0, 0, 100%, 100%);
  @include flex-element(row, center, center);
  @include element-position(fixed, 0, auto, auto, 0, 3);

  background-color: $modal-bg-color;

  .content {
    @include box-model(0, 0 30px, 80%, 40%, 0, 8px);
    @include flex-element(column, center, center, nowrap, 10px);
    @include element-position(fixed, auto, auto, auto, auto, 9);

    box-shadow: 0 0 4px $modal-bg-color;
    background: $third-color;
    background: linear-gradient(0deg, $third-color 0%, rgb(134, 135, 135) 100%);
    color: $primary-text-color;

    .welcome {
      font-size: 1rem;
    }

    .form {
      @include flex-element(column, center, center, nowrap, 20px);

      input {
        @include box-model(0, 10px 10px 10px 6px, 280px, auto, 0, 6px, none);

        font-weight: lighter;
        text-align: center;
      }

      label {
        @include box-model();
        font-weight: lighter;
        font-size: x-small;
        align-self: flex-start;
      }
    }
  }
}
