.ModalLogin__overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.85);
}

.ModalLogin {
  position: fixed;
  top: calc(50% - 200px);
  height: 250px;
  width: 500px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
  border-radius: 8px;
  color: white;
  background: rgb(38, 6, 43);
  background: linear-gradient(
    0deg,
    rgb(38, 10, 59) 0%,
    rgba(55, 232, 222, 1) 100%
  );
  z-index: 9;
}

.ModalLogin__typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid whitesmoke; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 18px auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: whitesmoke;
  }
}

.ModalLogin__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.ModalLogin__form--input {
  padding: 10px 10px 10px 6px;
  width: 280px;
  border: 0;
  border-radius: 6px;
  font-weight: bold;
  outline: none;
}

