@import "../../styles/_variables.scss";
@import "../../styles/_mixins.scss";

.MainInput {
  @include box-model(0, 0, auto, 40px, 0, 8px);
  @include flex-element(row, center);
  @include element-position(fixed, 40px, auto, auto, calc(70%), 1);

  box-shadow: $box-shadow;
  transition: all 0.35s;

  input {
    @include box-model(0, 0 0 0 14px, 240px, auto, 0);

    outline: none;
    font-weight: bold;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  button {
    @include button-element(100px);

    font-weight: bold;
    background-color: $fourth-color;
    border-left: 1px solid $primary-border-color;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}
