.TopRated__Container {
  display: flex;
  gap: 20px;
  padding: 20px 0;
  height: 320px;
  overflow-x: auto;
  border-radius: 8px;
}

.TopRated__List {
  margin: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
