@import "../../styles/_variables.scss";
@import "../../styles/_mixins.scss";

.Button {
  @include button-element(200px, auto, 15px 25px, 0, 6px);

  font-weight: bold;
  color: $primary-text-color;

  &:hover {
    filter: saturate(0.6);
  }
}
