@import "../../styles/_variables.scss";
@import "../../styles/_mixins.scss";

.overlay {
  @include box-model(0, 0, 100vw, 100vh);
  @include flex-element(row, center, center);
  @include element-position(fixed, 0, auto, auto, 0, 3);

  background-color: $modal-bg-color;

  .Modal {
    @include box-model(0, 0 30px, 500px, 800px, 0, 8px);
    @include flex-element(column, center, center, nowrap, 10px);
    @include element-position(fixed, auto, auto, auto, auto, 9);
    box-shadow: 0 0 4px $modal-bg-color;
    background: $third-color;
    background: linear-gradient(
      0deg,
      $third-color 0%,
      $secondary-text-color 100%
    );
    color: $primary-text-color;

    .img {
      @include box-model(0, 0, 300px);
    }

    .Title {
      .sub {
        font-weight: lighter;
        color: $primary-text-color;
      }

      .main {
        font-weight: bold;
      }
    }

    .Description {
      @include box-model(0, 10px 40px);
      text-align: justify;
    }

    .btns {
      @include flex-element(row, center, stretch, nowrap, 10px);
      @include element-position(static, auto, auto, auto, auto, 10);
    }
  }
}
