.Modal__overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.85);
}

.Modal {
  position: fixed;
  width: 500px;
  height: 800px;
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
  border-radius: 8px;
  background-color: ghostwhite;
  color: rgb(26, 0, 45);
  z-index: 9;
}

.Modal__img {
width: 300px;
}

.Modal__TextContent--title{
  font-weight: bold;
}

.Modal__TextContent--sub{
  font-weight: thin;
  color: grey;
}

.Modal__TextContent--des{
  padding: 0 40px;
}

.Modal__btns {
  display: flex;
  justify-content: center;
  gap: 10px;
  z-index:10
}
