@import "../../styles/_variables.scss";
@import "../../styles/_mixins.scss";

.Navbar {
  @include box-model(0, 30px, 100%);
  @include flex-element(column, center, center);
  @include element-position(relative);

  overflow: hidden;
  background-image: url("../../images/moviesbg.jpg");
  background-size: cover;
  background-color: $secondary-color;

  &::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(41, 32, 47, 0.63);
  }

  p {
    @include flex-element(row, flex-start, center, nowrap, 10px);
    position: relative;
    color: $primary-text-color;
    font-weight: bold;
  }

  a {
    position: relative;
    float: left;
    display: block;
    color: $primary-text-color;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1rem;

    &:hover {
      background-color: $primary-border-color;
      color: $primary-color;

      & .sticky {
        @include box-model(0, 0, 100%);
        @include element-position(fixed, 0);

        & .content {
          @include box-model(0, 60px);
        }
      }
    }
  }
  .menuLogOut {
    position: relative;

    a {
      font-size: xx-small;
    }
  }
}

@media screen and (min-width: 376px) and (max-width: 1024px) {
  .Navbar {
    @include box-model(0, 30px, 100%, 150px);
    @include flex-element(row, space-around, center);

    p {
      @include flex-element(row, flex-start, center, wrap, 10px);
      padding: 20px;
      position: relative;
      color: $primary-text-color;
      background-color: $tertiary-text-color;
      font-weight: bold;
    }

    a {
      position: relative;
      float: left;
      display: block;
      color: $primary-text-color;
      background-color: $tertiary-text-color;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 0.8rem;

      &:hover {
        background-color: $primary-border-color;
        color: $primary-color;

        & .sticky {
          @include box-model(0, 0, 100%);
          @include element-position(fixed, 0);

          & .content {
            @include box-model(0, 60px);
          }
        }
      }
    }
    .menuLogOut {
      @include flex-element(column, flex-start, center, wrap, 2px);

      position: relative;
      background-color: $tertiary-text-color;

      a {
        font-size: xx-small;
      }
    }
  }
}
