@import "../../styles/_variables.scss";
@import "../../styles/_mixins.scss";

.Navbar {
  @include box-model(0, 0, 100%);
  @include flex-element(row, space-around);

  overflow: hidden;
  background-color: $secondary-color;

  & a {
    float: left;
    display: block;
    color: $secondary-text-color;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1rem;

    &:hover {
      background-color: $primary-border-color;
      color: $primary-color;

      & .sticky {
        @include box-model(0, 0, 100%);
        @include element-position(fixed, 0);

        & .content {
          @include box-model(0, 60px);
        }
      }
    }
  }

  &__menu--logout a {
    font-size: xx-small;
  }
}
