.Navbar {
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    background-color: #333;
    width: 100%;
  }
  
  .Navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .Navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }
  
  .Navbar__menu--logout a {
    font-size: xx-small;
  }