@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap");

@import "../../styles/_variables.scss";
@import "../../styles/_mixins.scss";

.MovieEntity {
  @include box-model(0, 0, 100%);
  @include flex-element(column, center, center);

  background-color: $primary-color;
  color: $primary-text-color;
  text-transform: uppercase;

  .movie {
    @include box-model(0, 0, 100%);
    @include flex-element(column, center, center);

    // .tagline {
    //   visibility: hidden;
    // @include box-model(0, 0 50px, 100%);
    // h2 {
    //   font-family: "Ms Madi", cursive;
    //   font-size: 1.2rem;
    //   text-transform: none;
    // }
    // }

    .info {
      @include box-model(0, 0, 100%);
      @include flex-element(column, center, center, nowrap, 6px);

      .poster {
        @include box-model(0, 10px 0 20px, 60%, 50%);

        object-fit: cover;
      }

      .detailedInfo {
        @include box-model(0, 0, 30%);
        @include flex-element(column, center, center, nowrap, 6px);
        @include element-position(relative, 0);

        align-items: baseline;
        font-weight: bold;
        font-size: 0.7rem;

        p:nth-child(2),
        p:nth-child(4),
        p:nth-child(6) {
          color: $secondary-text-color;
          font-size: 0.6rem;
        }

        ul {
          padding: 0;
          list-style-type: none;
        }
      }
    }
  }
  .btn {
    @include button-element(200px, auto, 20px 30px);

    box-shadow: $box-shadow;

    &:hover {
      background-color: $primary-color;
      color: $fourth-color;
    }
  }
}

@media screen and (min-width: 376px) and (max-width: 1024px) {
  .MovieEntity {
    @include box-model(0, 0, 400px);
    @include flex-element();
    .movie {
      .info {
        @include box-model();
        @include flex-element(row, flex-start, center, nowrap, 20px);

        .poster {
          @include box-model(0, 10px 0 20px, 600px, 300px);
        }

        .detailedInfo {
          @include box-model(0, 0, 30%);
          @include flex-element(column, center, flex-start, nowrap, 15px);
          @include element-position(relative, 0);
        }

        .btn {
          @include button-element(100px, auto, 10px 20px);
          font-size: x-small;
        }
      }
    }
  }
}
