@import "../../styles/_variables.scss";
@import "../../styles/_mixins.scss";

.MovieEntity {
  @include flex-element();

  background-color: $primary-color;
  color: $primary-text-color;
  text-transform: uppercase;

  .info {
    @include box-model(0, 20px, 22%);
    @include flex-element(column, space-between, flex-end);

    .tagline {
      h2 {
        font-size: 3rem;
        font-style: italic;
      }
    }

    .bottom {
      @include box-model(0, 0, 100%);
      @include element-position(relative, 0, -50px);
      align-items: baseline;
      font-weight: bold;
      font-size: 0.9rem;

      p:nth-child(1),
      p:nth-child(3) {
        color: $secondary-text-color;
      }

      ul {
        padding: 0;
        list-style-type: none;
      }

      .title {
        @include box-model(0, 0, auto, 300px);
        @include element-position(absolute, 0, 50px);

        writing-mode: vertical-rl;
        font-size: 1.5rem;
        font-weight: bold;
        transform: translateY(-120px) rotate(180deg);
      }
    }
  }

  .poster {
    @include box-model(0, 0, 56%, 100vh);

    object-fit: cover;
  }

  .book {
    @include box-model(0, 0, 22%);
    @include flex-element(column-reverse);

    .btn {
      @include button-element(200px, auto, 20px 30px);

      box-shadow: $box-shadow;
      transform: translate(-100px, -120px);

      &:hover {
        background-color: $primary-color;
        color: $fourth-color;
      }
    }
  }
}
